:root {
    --color-aqua-green: #38AF90;
    --color-gray: #797979;
    --color-light-gray: #f0f0f0;
    --color-botton: #DD7E92;
    --color-dark-gray: #383838;
    --color-white: #ffffff;
    --color-background-news: #e5e5e5;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.nav-container {
    background-color: var(--color-aqua-green);
    height: 90px;
    padding: 0 10px;
    width: 100%;
    display: flex;
    box-shadow: 0 0 20px;
}

.nav-main {
    height: 90px;
    width: 100%;
    max-width: 990px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-main h1 {
    color: var(--color-white);
    font-size: 18px;
    margin: 30px 10px;
}

.nav-itens {
    display: flex;
    justify-content: flex-end;
    
}

.menu-itens {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
 
}

.menu-itens li {
    margin: 35px 30px;
}

.menu-itens a {
    color: var(--color-white);
    font-size: 14px;
    text-decoration: none;
}

.nav-main img {
    height: 62px;
    margin: 14px 0;
}

.menu-itens {
    display: none;
}

.nav-news {
    background-color: var(--color-white);
    
}

#topic {
    font-size: 24px;
    color: var(--color-gray);
    margin-top: 40px;
    text-align: center;
}

.news-container {
    background-color: var(--color-light-gray);
    max-height: 493px;
    max-width: 300px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.news-text {
    width: 276px;
    padding: 6px;
    margin: 10px 12px 6px 12px;
}

.news-text h2 {
    color: var(--color-aqua-green);
    font-size: 16px;

}


@media (min-width: 768px) {

    .menu-itens {
        display: flex;
    }
}
