:root {
    --color-aqua-green: #38AF90;
    --color-gray: #797979;
    --color-light-gray: #f0f0f0;
    --color-botton: #DD7E92;
    --color-dark-gray: #383838;
    --color-white: #ffffff;
    --color-background-news: #e5e5e5;
    --color-placeholder: #c4c4c4;
}

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.nav-container {
    background-color: var(--color-aqua-green);
    height: 90px;
    padding: 0 10px;
    width: 100%;
    display: flex;
    box-shadow: 0 0 10px;
}

.nav-main {
    height: 90px;
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.nav-main h1 {
    color: var(--color-white);
    font-size: 18px;
    margin: 30px 10px;
}

.nav-itens {
    display: flex;
    justify-content: flex-end;
    
}

.menu-itens {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
 
}

.menu-itens li {
    margin: 35px 30px;
}

.menu-itens a {
    color: var(--color-white);
    font-size: 14px;
    text-decoration: none;
}

.nav-main img {
    height: 62px;
    margin: 14px 0;
}

.menu-itens {
    display: none;
}

.nav-news {
    background-color: var(--color-white);
    padding-bottom: 40px;
    
}

#topic {
    font-size: 24px;
    color: var(--color-gray);
    margin-top: 40px;
    text-align: center;
    margin-bottom: 0;
}

.news-container {
    background-color: var(--color-light-gray);
    height: 493px;
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin: 8px auto 20px auto;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
}

.news-text {
    width: 276px;
    padding: 6px;
    margin: 10px 12px 6px 12px;
}

.news-text h2 {
    color: var(--color-aqua-green);
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.news-text h3 {
    color: var(--color-gray);
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.news-line {
    width: 275px;
    height: 1px;
    background-color: var(--color-aqua-green);
}

.news-text p {
    font-size: 10px;
    color: var(--color-gray);
}

#news-date {
    color: var(--color-aqua-green);
    margin-top: 1px;
}

.news-more a {
    color: var(--color-botton);
    font-size: 14px;
    text-decoration: none;
}

.load-button {
    width: 244px;
    height: 67px;
    border-radius: 8px;
    background-color: var(--color-botton);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.nav-news input {
    border: none;
}

.nav-games {
    background-color: var(--color-light-gray);
    padding: 20px;
}

.nav-games h2 {
    font-size: 24px;
    color: var(--color-aqua-green);
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.card-game {
    background-color: var(--color-white);
    width: 300px;
    height: 325px;
    border-radius: 8px;
    margin: 7px auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
}

.card-game img {
    width: 300px;
    height: 168px;
    border-radius: 8px 8px 0 0;
}

.card-game h3 {
    font-size: 18px;
    color: var(--color-gray);
    margin-top: 27px;
    margin-bottom: 0;
}

.card-game span {
    font-size: 14px;
    color: var(--color-aqua-green);
    font-weight: 700;
}

.card-game p {
    font-size: 12px;
    color: var(--color-gray);
    margin-top: 0;
    margin-bottom: 12px;
}

#game-class {
    font-size: 36px;
    color: var(--color-aqua-green);
    font-weight: 700;
}

.nav-subscribe {
    background-color: var(--color-white);
    padding: 20px;

}

.nav-subscribe h2 {
    font-size: 24px;
    color: var(--color-gray);
    display: flex;
    justify-content: center;
    margin: 20px auto 10px auto;
}

.form-card {
    background-color: var(--color-light-gray) ;
    height: 603px;
    width: 300px;
    margin: 6px auto 20px auto;
    padding-top: 30px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.4);
}

.text-input {
    background-color: var(--color-white);
    width: 280px;
    height: 50px;
    border-radius: 4px;
    border-color: var(--color-gray);
    margin: 20px auto;
    display: flex;
    align-items: center;
}

input::placeholder {
    padding-left: 22px;
    font-size: 16px;
    color: var(--color-placeholder);
}

.ctrl-plataform {
    font-size: 16px;
    color: var(--color-gray);
    margin: 20px auto 20px 8px;
}

#ctrl-subscribe {
    font-size: 16px;
    color: var(--color-gray);
    margin: 15px auto 15px 8px;
}

#ctrl-subscribe input {
    height: 23px;
    width: 23px;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.submit-button {
    width: 244px;
    height: 67px;
    border-radius: 8px;
    background-color: var(--color-botton);
    color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    border: none;
}

.reset-button {
    width: 244px;
    height: 67px;
    border-radius: 8px;
    padding: 10px;
    color: var(--color-botton);
    background-color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    border: none;
}

.footer-container {
    background-color: var(--color-dark-gray);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 33px 0 33px;
}

.footer-container h3 {
    font-weight: 400;
    font-size: 14px;
    margin: auto;
}

#footer-content {
    margin: 7px auto 30px auto;
}

@media (min-width: 768px) {

    .menu-itens {
        display: flex;
    }

    .nav-main h1 {
        font-size: 24px;
    }

    #topic {
        font-size: 36px;
        margin: 40px auto 20px auto;
    }

    .news-container {
        max-width: 990px;
        width: calc(100% - 310px);
        height: calc(100% - 40px);
        margin: 40px auto 20px auto;
    }

    .news-text {
        max-width: 909px;
        width: calc(100% - 80px);
    }

    .news-text h2 {
        font-size: 24px;
    }

    .news-text h3 {
        font-size: 16px;
    }

    .news-line {
        max-width: 910px;
        width: 100%;
    }

    .load-button {
        margin: 40px auto 35px auto;
    }

    .nav-games 

    .card-container {
        display: flex;
        align-items: center;
        max-width: 990px;
        width: calc(100% - 20px);
        margin: auto;
    }

    .card-game {
        margin: 50px 15px;
        width: 100%;
    }
}
